@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.rsvp {
  background-color: bisque;
}

.faqs {
  background-color: #1b9aaa;
}

.funds {
  background-color: rgb(213, 128, 201);
}

.uk-heading-line {
  background-color: #dd8376;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.title {
  font-family: 'Niconne', cursive !important;
  color: black !important;
}

.title p:hover {
  color: palevioletred !important;
}

body p {
  font-size: 2em;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
